<!DOCTYPE html>
<html>
<head>
  <title>Jeff Shapiro</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/sandstone/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/home.css">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" href="#">jeffreyhshapiro</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#aboutme">About me<span class="sr-only">(current)</span></a></li>
        <li><a href="#programming">Programming</a></li>
        <li><a href="#projects">Projects</a></li>
        <li></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/jeffreyhshapiro" target="_blank"><img class="navbarIcon" src="/images/github-icon.png"></a></li>
        <li><a href="http://stackoverflow.com/users/5510326/wariofan1?tab=profile" target="_blank"><img class="navbarIcon" src="/images/stackoverflow-icon.png"></a></li>
        <li><a href="https://www.linkedin.com/in/jeffreyhshapiro" target="_blank"><img class="navbarIcon" src="/images/linkedin-icon.png"></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact me <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <form method="POST" action='/inquiry'>
              <p>Questions, comments or inquiries?</p>
              <div class="form-group">
                <input class="form-control" type='text' placeholder="Name" name="name" />
              </div>
              <div class="form-group">
                <input class="form-control" type='email' placeholder="Email" name="email" />
              </div>
              <div class="form-group">
                <textarea class="form-control" type='text' placeholder="Message" name="message"></textarea>
              </div>
              <div class="form-group">
                <input class="form-control btn btn-primary" type='submit' />
              </div>
            </form>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section>
  <div class="panel">
    <div class="container">
      <div class="col-sm-5 col-md-5 col-lg-5">
        <img src="/images/me.jpg" id="jeff">
      </div>
      <div class="col-sm-7 col-md-7 col-lg-7 intro">
        <p id="nameHeader">Jeff Shapiro</p>
        <p id="nameTitle">Web Developer with a Background in Molecular Biology</p>
      </div>
    </div>
  </div>
</section>

<section id="aboutme">
  <div class="container-fluid sectionHeader">
    <div class="sectionHeaderText">About Me</div>
  </div>
  <br />
  <div class="container">
    <p>Since high school science has been my passion.  I always enjoyed learning about the laws and mechanisms that make the world and life operate.  This passion has led me to an undergraduate degree in Environmental Science, a Masters in Biotechnology, and now to programming.  Where does programming fit into the picture?</p>
    <p>While in grad school I learned about this thing called coding and how it is the engine behind our digital world.  My interest was greatly piqued when reading about all the great things that people have done with it- especially <span><a href='https://www.ted.com/talks/jorge_soto_the_future_of_early_cancer_detection?language=en'>this</a></span> TED talk about early cancer detection!  I hope to be able to bring my knowledge of science to the digital realm to contribute to great healthcare products and ultimately help save peoples lives.</p>
    <p>I am currently a lab tech for a global pharmaceutical company.  If you are curious about my day to day work, it is accurately depicted <span id="scientistDNA"><a href="#">here</a></span>.</p>
    <div>
      <strong><p>SKILLS AND TECHNOLGIES</p></strong>
      <p>HTML5 | CSS3 | Javascript | jQuery | Node JS | Materialize & Bootstrap | Relational Databases | Heroku | Express</p>
    </div>
  </div>
</section>

<section id="programming">
  <div class="container-fluid sectionHeader">
    <div class="sectionHeaderText">Programming</div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <p>Click on a repo to see what I've been up to!</p>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="table-responsive">
          <table class="table">
          </table>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <table>
          <thead>
            <th>Commit message</th>
            <th>Date</th>
            <th>Author</th>
          </thead>
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
</section>

<section id="projects">
  <div class="container-fluid sectionHeader">
    <div class="sectionHeaderText">Projects</div>
  </div>
  <div class="container">
  <ul>
    <li><a href="http://gymtrition.herokuapp.com/">Gymtrition</a></li>
    Gymtrition is a whole solution exercise app- from helping you find a gym, building a workout plan, and making healthy meal choices.  I built the workout plan module using HTML and jQuery.  This project was great for my development in the bootcamp because it helped me to learn what it means to think logically and creatively in programming to solve issues, big and small.
    <li><a href="/rps">Rocks Paper Scissors!</a></li>
    A rocks paper scissors game built using HTML, CSS, Javascript and jQuery.  The user has a choice of rock, paper or scissors, and the computer randomly attacks back with one of the three.
    <li><a href="http://hexachrome.herokuapp.com">Hexachrome</a></li>
    An exercise in simple front end concepts.  Built using HTML and Javascript, it takes the 24 hour time value and concatenates it into a six digit hex color code, which updates the background color.  It is in its beginning stages now- I plan to include 12 hour time conversion and other behaviors based on the current time.
  </ul>
  </div>
</section>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/github-api-homework.js"></script>
<script type="text/javascript" src="/js/commits-list.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>