.navbarIcon {
  height: 20px;
  width: 20px;
  max-height: 100px;
  max-width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-menu {
  width: 500px;
  padding: 10px;
}

#nameHeader {
  font-size: 24px;
  text-align: center;
}

#nameTitle {
  font-size: 18px;
  text-align: center;
}

.intro {
  padding-top: 100px;
}

#jeff {
  width: 400px;
  height: 333px;
  vertical-align: middle;
}

.sectionHeader {
  background-color: #3e3f3a;
  height: 62px;
}

.sectionHeaderText {
  font-size: 18px;
  color: #ffffff;
  padding-top: 20px
}

#scientistDNA:hover {
    position: relative;
}
#scientistDNA:hover:after {
    content: url(/images/scientist2.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
    z-index: 9999;
    /*left: 123px; /* change this value to one that suits you */
    /*top: 56px; /* change this value to one that suits you */
}